* {
    text-align: center;
    background-color:rgb(216, 245, 51);
    font-family: "Courier New", sans-serif
}
li  {
    color:rgb(17, 71, 122);
    font-size: 36px
    padding: 0;
    display: flex;
    font-size: 24px;
    flex-grow: 2;
    flex-basis: 50px;
    
}
h1 {
    font-size: 56px;
    font-weight: 800
}
div {
    text-align: center;
}
ul {
    margin: auto;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}